#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button{
  color: white;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  margin: 0.1rem;
}

.orange-button{
  background-color: orange;
}

.gray-button{
  background-color: gray;
}

.calc-row {
  display: grid;
  grid-template-columns: repeat(4, 3rem);
  gap: 0.3rem;
}

h2{
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  text-align: right;
}

@media (max-width: 400px) {
  #contenedor{
    width: 100%;
    height: 100%;
  }
}